.companyTitle {
    font-family: Tommorow;
    font-weight: normal;
    font-size: 30px;
    color: white;
    background-color: #273140;
    padding: 15px;
    margin: 0; /* Reset the negative margin */
    position: fixed; /* Make it fixed */
    top: 0; /* Stick it to the top */
    left: 0; /* Stick it to the left */
    width: 100%; /* Make it span the entire width */
    
}

.logo-img {
    
    max-width: 300px; 
    max-height: 300px; 
}

.please-go-above-companyTitle {
    margin-top: 140px;
    font-family: "Tomorrow";
    color: #32485B;
    justify-self: center;
    text-align: center;
}
body {
    background-color: #dfedf3;
}


a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}
        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            width: 90%;
            max-width: 1200px;
            margin: 90px auto 20px auto; /* Adjusted margin to account for fixed header */
        }

        .news-item {
            background-color: #f0f0f0;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .news-item img {
            width: 100%;
            height: auto;
            display: block;
        }

        .news-content {
            padding: 15px;
        }

        .news-title {
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 8px;
            font-family: abel;
        }

        .news-source {
            font-size: 1.0em;
            color: #777;
            font-family: abel;
        }