.companyTitle {
    font-family: Tommorow;
    font-weight: normal;
    font-size: 30px;
    color: white;
    background-color: #273140;
    padding: 15px;
    margin: 0; /* Reset the negative margin */
    position: fixed; /* Make it fixed */
    top: 0; /* Stick it to the top */
    left: 0; /* Stick it to the left */
    width: 100%; /* Make it span the entire width */
    
}

.logo-img {
    
    max-width: 300px; 
    max-height: 300px; 
}

.please-go-above-companyTitle {
    margin-top: 140px;
    font-family: "Tomorrow";
    color: #32485B;
    justify-self: center;
    text-align: center;
}
body {
    background-color: #dfedf3;
}


a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}
        

.Calendar{
    translate: 63%;
    max-width: 8000px;
    margin-top: 50px;
}

footer{
    font-family: "Tomorrow";
    font-weight: normal;
    font-size: 30px;
    color: white;
    background-color: #273140;
    padding: 15px;
    margin-top: 4%; 
    top: 0; 
    left: 0; 
    width: 98%; 
    text-align: center;
}