.companyTitle {
    font-family: Tommorow;
    font-weight: normal;
    font-size: 30px;
    color: white;
    background-color: #273140;
    padding: 15px;
    margin: 0; /* Reset the negative margin */
    position: fixed; /* Make it fixed */
    top: 0; /* Stick it to the top */
    left: 0; /* Stick it to the left */
    width: 100%; /* Make it span the entire width */
    
}
body {
    font-family: 'Inter', sans-serif;
}
.Tomorrow-font {
    font-family: 'Tomorrow', sans-serif;
}
.nav-links a:hover {
    text-decoration: none;
}
/* Mobile Menu Styles */
#mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 50;
    display: none; 
    transition: opacity 0.3s ease-in-out;
}

#mobile-menu.open {
    display: block;
    opacity: 1;
}

#mobile-menu .menu-content {
    background-color: #32485B; 
    width: 80%;
    max-width: 300px;
    height: 100%;
    position: absolute;
    right: 0;
    padding: 20px;
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out;
}

#mobile-menu.open .menu-content {
    transform: translateX(0); 
}

#mobile-menu .close-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#mobile-menu .close-btn button {
    color: #9FC2D9;
    outline: none;
}

#mobile-menu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#mobile-menu nav ul li a {
    display: block;
    color: #9FC2D9;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#mobile-menu nav ul li a:hover {
    color: #facc15; 
}
/* Custom active class for desktop nav tracking */
.nav-links a.active {
    color: var(--color-tan-100) !important; 
}

.logo-img {
    
    max-width: 300px; 
    max-height: 300px; 
}

.please-go-above-companyTitle {
    margin-top: 120px;
    font-family: "Tomorrow";
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #dfedf3;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 50px;
    font-family: "Tomorrow";
}

p {
    font-size: 18px;
    font-family: "Tomorrow";
    text-align: center;
}

h2 {
    font-weight: bolder;
    font-family: "Tomorrow";
    text-align: center;
}

.centered{
    font-size: 18px;
    font-family: "Tomorrow";
    justify-content: center;
    text-align: center;
}