.companyTitle {
    font-family: Tommorow;
    font-weight: normal;
    font-size: 30px;
    color: white;
    background-color: #273140;
    padding: 15px;
    margin: 0; /* Reset the negative margin */
    position: fixed; /* Make it fixed */
    top: 0; /* Stick it to the top */
    left: 0; /* Stick it to the left */
    width: 100%; /* Make it span the entire width */
    
}

.logo-img {
    
    max-width: 300px; 
    max-height: 300px; 
}

.please-go-above-companyTitle {
    margin-top: 120px;
    font-family: "Tomorrow";
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #dfedf3;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-family: abel;
    font-size: 50px;
    font-family: "Tomorrow";
}

p {
    font-family: abel;
    font-size: 18px;
    font-family: "Tomorrow";
}

h2 {
    font-family: abel;
    font-weight: bolder;
    font-family: "Tomorrow";
}