.companyTitle {
    font-family: Tommorow;
    font-weight: normal;
    font-size: 30px;
    color: white;
    background-color: #273140;
    padding: 15px;
    margin: 0; 
    position: fixed; /* Make it fixed */
    top: 0; /* Stick it to the top */
    left: 0; /* Stick it to the left */
    width: 100%; 
    
}

.logo-img {
    
    max-width: 300px; 
    max-height: 300px; 
}

.please-go-above-companyTitle {
    margin-top: 150px;
    font-family: "Tomorrow";
}

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #DFEDF3;
            font-family: "Tomorrow";
        }

        .team-info {
            text-align: center;
            margin-bottom: 30px;
            font-family: "Tomorrow";
            font-size: 30px;
        }

        .team-members {
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        .team-member {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 50px;
        }

        .picture-placeholder {
            width: 200px;
            height: 200px;
            background-color: #ddd;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #777;
            overflow: hidden;
        }

        .picture-placeholder img {
            display: block;
            width: 100%;
            height: auto;
        }

        body {
            background-color: white;
        }

.question {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    font-family: "Tomorrow";
}

.answer {
    margin-top: auto;
    margin-bottom: 50px;
    text-align: left;
    color: lightslategrey;
    font-family: "Tomorrow";
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: #DFEDF3;
}

.faq-container{
    font-family: "Tomorrow";
}