.companyTitle {
    font-family: pacifico;
    font-weight: normal;
    font-size: 30px;
    color: white;
    background-color: rgba(37, 99, 235, 255);
    padding: 15px;
    margin: 0; /* Reset the negative margin */
    position: fixed; /* Make it fixed */
    top: 0; /* Stick it to the top */
    left: 0; /* Stick it to the left */
    width: 100%; /* Make it span the entire width */
    z-index: 1; /* Ensure it stays on top of other elements */
}

.please-go-above-companyTitle {
    margin-top: 80px;
}

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .team-info {
            text-align: center;
            margin-bottom: 30px;
            font-family: abel;
            font-size: 30px;
        }

        .team-members {
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        .team-member {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 50px;
        }

        .picture-placeholder {
            width: 200px;
            height: 200px;
            background-color: #ddd;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #777;
            overflow: hidden;
        }

        .picture-placeholder img {
            display: block;
            width: 100%;
            height: auto;
        }

        body {
            background-color: white;
        }

.question {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.answer {
    margin-top: auto;
    margin-bottom: 50px;
    text-align: left;
    color: lightslategrey;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}