.companyTitle {
    font-family: Tommorow;
    font-weight: normal;
    font-size: 30px;
    color: white;
    background-color: #273140;
    padding: 15px;
    margin: 0; 
    position: fixed; /* Make it fixed */
    top: 0; /* Stick it to the top */
    left: 0; /* Stick it to the left */
    width: 100%; 
}

.logo-img {
    
    max-width: 300px; 
    max-height: 300px; 
}
.please-go-above-companyTitle {
    margin-top: 150px;
    font-family: "Tomorrow";
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DFEDF3;
    font-family: "Tomorrow";
    margin-top: 85px;
}

        body {
            background-color: #f4f4f4;
            font-family: 'Tomorrow', sans-serif;
            color: #333;
            margin: 0;
            padding-top: 60px; /* Adjust padding for fixed header */
        }

        .review-card {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
            width: 80%;
            max-width: 700px;
            box-sizing: border-box;
        }

        .reviewer-name {
            font-weight: bold;
            margin-bottom: 5px;
            color: #555;
            font-family: Tomorrow;
        }

        .review-text {
            line-height: 1.6;
            margin-bottom: 10px;
            font-family: Tomorrow;
        }

        .rating {
            color: gold;
            font-size: 1.2em;
        }

        a {
            text-decoration: underline;
            color: rgba(37, 99, 235, 255);
        }

        a:hover {
            text-decoration: none;
            cursor: pointer;
        }